$primary: rgba(#2862a5, 0.9);
$primary-medium: rgba(#a52838, 0.7);
$primary-light: rgba(#a52838, 0.4);
$dark: #1e1e1e;
$light: #fff4eb;
$increase: green;
$increase-light: rgb(0, 255, 0);
$decrease: red;
$increase-border: rgb(0, 100, 0);
$decrease-border: rgb(200, 0, 0);

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
}

.main {
  min-height: 100vh;
  max-width: 114rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  .currency-list {
    max-width: 98vw;
    flex: 1;
  }
}

.currency-list {
  display: flex;
  flex-direction: column;

  .currency {
    flex: 1;
  }
}

.currency {
  padding: 0.35rem 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
  border-bottom: 0.1rem solid $dark;

  &__name,
  &__diff {
    font-weight: 500;
  }

  &__difference {
    min-width: 10rem;
    display: flex;
    div {
      margin-left: 1rem;
    }

    svg {
      display: none;
    }
  }

  &--increase,
  &--decrease {
    svg {
      display: block;
      max-width: 1rem;
    }
  }

  &--increase {
    border-color: $increase-border;
  }
  &--decrease {
    border-color: $decrease-border;
    svg {
      transform: rotate(180deg);
    }
  }
}

.button {
  cursor: pointer;
  padding: 1rem;
  font-weight: 500;
  border: 0;
  background-color: transparent;
}

.controls {
  border: 0.2rem solid currentColor;
  display: grid;
  grid-template-columns: 1.3fr 1fr 1.3fr;
  &__button {
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      margin-left: 1rem;
      max-width: 1rem;
    }

    &:first-of-type {
      border-left: 0.8rem solid;
    }
    &:last-of-type {
      border-right: 0.8rem solid;
    }
  }
}

.link {
  color: inherit;
  text-decoration: none;

  &:hover {
    .currency {
      font-weight: bold;
      background-color: rgba(rgb(20, 20, 20), 1) !important;

      svg {
        fill: currentColor;
      }

      &--increase {
        color: $increase-light;
      }
      &--decrease {
        color: $decrease;
      }
    }
  }
}

.spinner-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  fill: currentColor;
  animation: 2s linear infinite spinner-animation;
  max-width: 100px;
}

// SVG animation.
@keyframes spinner-animation {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

// Circle styles.
.circle {
  animation: 1.4s ease-in-out infinite both circle-animation;
  display: block;
  fill: transparent;
  stroke: #2f3d4c;
  stroke-linecap: round;
  stroke-dasharray: 283;
  stroke-dashoffset: 280;
  stroke-width: 10px;
  transform-origin: 50% 50%;
}

// Circle animation.
@keyframes circle-animation {
  0%,
  25% {
    stroke-dashoffset: 280;
    transform: rotate(0);
  }

  50%,
  75% {
    stroke-dashoffset: 75;
    transform: rotate(45deg);
  }

  100% {
    stroke-dashoffset: 280;
    transform: rotate(360deg);
  }
}
